<form [formGroup]="loginForm">
    <div class="container d-grid gap-3" style="max-width: 700px;">
  
      <div class="form-floating mb-3">
        <input  formControlName="email" placeholder="name@example.com" class="form-control" type="text" />
        <label for="email">Email</label>
  
      </div>

      
      <div class="form-floating mb-3">
        <input formControlName="password" type="password" placeholder="Password"  class="form-control">
        <label for="" class="form-label">Password</label>
      </div>

      <div #loginAlertContent></div>
      
      <div class="d-flex justify-content-center center">
        <button (click)="login()" type="submit" class="btn btn-primary">Login </button>
      </div>



    </div>
</form>
